html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="css/style.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")


        include blocks/head
    body
        //- include blocks/header/header

        form(action="")
            input(type="search" name="search" class="search" required)
            //- input(type="submit" value="submit" class="submit")

        .weather
            h2 

        //- include blocks/footer/footer

    script(src="js/app.min.js")